<article class="Post u-clearFix">
  <header>
    <time class="Post-date" datetime="{{ post.date.datetime }}">{{ post.date.title }}</time>

    {% if post.image %}
      <a class="Post-headerLink">
        {% set image = post.image %}
        {% include 'sublayouts/image.twig' %}
      </a>
    {% endif %}

    <a class="Post-headerLink">
      <{% if vars.isSingle %}h1{% else %}h2{% endif %} class="Post-title">{{ post.title }}</h1>
    </a>
  </header>

  <div class="Post-content">
  {% if post.excerpt %}
    {{ post.excerpt|raw }}
  {% else %}
    {{ post.content|raw }}
  {% endif %}
  </div>

  {% if vars.isSingle %}
    <footer>
      <span>Share this post on:</span>
      <ul>
        <li>
          <a href="https://twitter.com/intent/tweet?url={{ post.tweet.url }}&text={{ post.tweet.text }}&via={{ post.tweet.via }}" target="_blank">
            <i class="fa fa-twitter"></i><i class="fa fa-share-alt"></i>
          </a>
        </li>
        <li>
          <a href="https://www.facebook.com/sharer/sharer.php?u={{ post.facebook.url }}" target="_blank">
            <i class="fa fa-facebook"></i><i class="fa fa-share-alt"></i>
          </a>
        </li>
        <li>
          <a href="mailto:?subject={{ post.email.subject }}&body={{ post.email.content }}">
            <i class="fa fa-envelope"></i><i class="fa fa-share-alt"></i>
          </a>
        </li>
      </ul>
    </footer>
  {% endif %}
</article>
