<article class="Post u-clearFix" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting" itemref="MicroData-person MicroData-organization">
  <header>
    <time class="Post-date" datetime="{{ post.date.datetime }}" itemprop="datePublished">{{ post.date.title }}</time>

    {% if post.image %}
      <a class="Post-headerLink" href="{{ post.url }}" itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
        {% set image = post.image %}
        {% include 'sublayouts/image.twig' %}
        <meta itemprop="url" content="{{ post.image.src }}">
        <meta itemprop="width" content="{{ post.image.width }}">
        <meta itemprop="height" content="{{ post.image.height }}">
      </a>
    {% endif %}

    <a class="Post-headerLink" href="{{ post.url }}" itemprop="mainEntityOfPage">
      <{% if vars.isSingle %}h1{% else %}h2{% endif %} class="Post-title" itemprop="headline">{{ post.title }}</h1>
    </a>
  </header>

  <div class="Post-content" itemprop="articleBody">
  {% if post.excerpt %}
    {{ post.excerpt|raw }}
  {% else %}
    {{ post.content|raw }}
  {% endif %}
  </div>

  <footer>
    <meta content="{{ post.dateModified }}" itemprop="dateModified">
    <meta itemprop="description" content="{{ post.description }}">

    {% if vars.isSingle %}
      <span>Share this post on:</span>
      <ul>
        <li>
          <a href="https://twitter.com/intent/tweet?url={{ post.tweet.url }}&text={{ post.tweet.text }}&via={{ post.tweet.via }}" target="_blank">
            <i class="fa fa-twitter"></i><i class="icon-share-alt"></i>
          </a>
        </li>
        <li>
          <a href="https://www.facebook.com/sharer/sharer.php?u={{ post.facebook.url }}" target="_blank">
            <i class="fa fa-facebook"></i><i class="icon-share-alt"></i>
          </a>
        </li>
        <li>
          <a href="mailto:?subject={{ post.email.subject }}&body={{ post.email.content }}">
            <i class="fa fa-envelope"></i><i class="icon-share-alt"></i>
          </a>
        </li>
      </ul>
    {% endif %}
  </footer>
</article>
