<div>
  <nav class="SiteNav">
    <ul class="SiteNav-list u-clearFix u-wrap">
      <li class="SiteTitle SiteNav-item"><a class="SiteTitle-link SiteNav-link" href="/">Viki Bell</a></li>
      
      {% for socialNavItem in vars.socialNav %}
        <li class="SiteNav-item SiteNav-item--mobile"><a class="SiteNav-link" href="{{ socialNavItem.url }}"><i class="SiteNav-icon fa fa-{{ socialNavItem.icon }}"></i></a></li>
      {% endfor %}

      <li class="">
        <div class="SiteNav-item SiteNav-item--mobile"><a id="MobileDropdownIcon" class="SiteNav-link" aria-controls="MobileNav" aria-expanded="true"><i class="SiteNav-icon fa fa-bars"></i></a></div>

        <ul id="MobileNav" class="SiteNavMain SiteNav-list u-clearFix" aria-hidden="false" aria-expanded="true">
          {% for navItem in vars.nav %}
            <li class="SiteNav-item SiteNavMain-item {% if navItem.subNav %}u-hasDropDown{% endif %}">
              <a class="SiteNavMain-link SiteNav-link {% if navItem.subNav %}u-controlsDropdown{% endif %}" href="{{ navItem.url }}" {% if navItem.subNav %}aria-controls="{{ navItem.subNav.id }}" aria-expanded="false{% endif %}">
                {% if navItem.icon %}
                  <i class="SiteNav-icon fa fa-{{ navItem.icon }}"></i>
                {% endif %}
                <span class="SiteNav-title">{{ navItem.title }}</span>
              </a>

              {% if navItem.subNav %}
                <ul id="{{ navItem.subNav.id }}" class="SiteNav-subNav SiteNav-list" aria-hidden="true" aria-expanded="false">
                  {% for subNavItem in navItem.subNav.items %}
                    <li class="SiteNav-subItem"><a class="SiteNavMain-link SiteNav-link SiteNav-sublink" href="{{ subNavItem.url }}">{{ subNavItem.title }}</a></li>
                  {% endfor %}
                </ul>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      </li>
    </ul>   
  </nav>

  {% include 'sublayouts/bunting.twig' %}
</div>
