<div>
  <nav class="SiteNav">
    <ul class="u-clearFix u-wrap">
      <li class="SiteTitle SiteNav-item"><a class="SiteNav-link" href="/">Viki Bell</a></li>
      
      {% for socialNavItem in vars.socialNav %}
        <li class="SiteNav-item SiteNav-item--mobile"><a class="SiteNav-link" href="{{ socialNavItem.url }}"><i class="fa fa-{{ socialNavItem.icon }}"></i></a></li>
      {% endfor %}

      <li class="">
        <div id="MobileDropdownIcon" class="SiteNav-item SiteNav-item--mobile"><a class="SiteNav-link"><i class="fa fa-bars"></i></a></div>

        <ul class="SiteNav-list u-clearFix">
          {% for navItem in vars.nav %}
            <li class="SiteNav-item">
              <a class="SiteNav-link" href="{{ navItem.url }}">
                {% if navItem.icon %}
                  <i class="SiteNav-icon fa fa-{{ navItem.icon }}"></i>
                {% endif %}
                <span class="SiteNav-title">{{ navItem.title }}</span>
              </a>

              {% if navItem.subNav %}
                <ul class="SiteNav-subNav">
                  {% for subNavItem in navItem.subNav %}
                    <li class="SiteNav-subItem"><a class="SiteNav-link SiteNav-sublink" href="{{ subNavItem.url }}">{{ subNavItem.title }}</a></li>
                  {% endfor %}
                </ul>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      </li>
    </ul>   
  </nav>

  {% include 'sublayouts/bunting.twig' %}
</div>
