<div>
  <nav>
    <ul>
      <li><a href="/">Viki Bell</a></li>
      
      {% for socialNavItem in vars.socialNav %}
        <li><a href="{{ socialNavItem.url }}"><i class="fa fa-{{ socialNavItem.icon }}"></i></a></li>
      {% endfor %}

      <li>
        <a id="mobile-nav-dropdown-icon"><i class="fa fa-bars"></i></a>

        <ul>
          {% for navItem in vars.nav %}
            <li>
              <a href="{{ navItem.url }}">
                {% if navItem.icon %}
                  <i class="fa fa-{{ navItem.icon }}"></i>
                {% endif %}
                {{ navItem.title }}
              </a>

              {% if navItem.subNav %}
                <ul>
                  {% for subNavItem in navItem.subNav %}
                    <li><a href="{{ subNavItem.url }}">{{ subNavItem.title }}</a></li>
                  {% endfor %}
                </ul>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      </li>
    </ul>   
  </nav>

  {% include 'sublayouts/bunting.twig' %}
</div>
